<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Telia | New Generation Telco</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/icomoon-fonts.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/settings.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owl.transitions.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="css/zerogrid.css">
  <link rel="stylesheet" type="text/css" href="css/jPushMenu.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/onepage.css">

  <link rel="stylesheet" type="text/css" href="css/loader-colorful.css">

  <link rel="shortcut icon" href="images/favicon.ico">


</head>

<body id="page-top" data-spy="scroll" data-target="#fixed-collapse-navbar" data-offset="120">

<div class="loader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>




<!-- Main-Navigation -->
<header id="main-navigation">
  <div id="navigation" data-spy="affix" data-offset-top="20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="top-right text-right">
            <li><a href="https://www.facebook.com/telianorge/" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/telianorge" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/telianorge/" class="instagram"><i class="icon-instagram"></i></a></li>
          </ul>

          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="true">
                <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span>
              </button>
              <a class="navbar-brand logo" href="#."><img src="images/TELIA_P_RGB.png" alt="logo" class="img-responsive"></a>
            </div>



            <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li class="hidden">
                  <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="active">
                  <a href=".text-rotator" class="page-scroll">Home</a>
                </li>
                <li>
                  <a class="page-scroll" href="#competition">Competition</a>
                </li>
                <li>
                  <a class="page-scroll" href="#about">About Us</a>
                </li>
                <li>
                  <a class="page-scroll" href="#teliatown">Telia Town</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>



<section class="text-rotator">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="paralax-slider" class="owl-carousel">
          <div class="item">
            <div class="item-content text-center">
              <p>We are on a mission to take Telia to the next level and create a</p>
              <h2>New generation telco</h2>
            </div>
          </div>
          <div class="item">
            <div class="item-content text-center">
              <p>On the customer’s terms</p>
              <h2>We bring the world closer</h2>
            </div>
          </div>
          <div class="item">
            <div class="item-content text-center">
              <p>As the world changes, so must we!</p>
              <h2>The digital society is a global movement</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--Competition-->
<section class="section-padding padding" id="competition">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
              <div class="col-md-12 text-center">
                <p>Join our competition and win cool prices!</p>
                <h2 class="magin30">How many LEGO pieces is it in Telia Town?</h2>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a class=" bounce-pink" style="display: table; margin: 0 auto;" href="https://telianorge.typeform.com/to/AAOLCh">Submit answer</a>
            </div>
        </div>
    </div>
</section>

<!--About us-->
<section class="section-padding bg-grey padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn">
                <h2 class="heading">About Telia</h2>
                <p>
                    We’ve changed a bit. We’re on a journey. We actually don’t want to be something else – we want to be
                    something more. We´re the New Generation Telco, here to digitalize society and bring the
                    world closer – on the customer´s terms.
                </p>
                <p>
                    The digital society is a global movement, a melting pot made up of the Internet of Things (IoT),
                    fiber optics, e-health, music, security, financial services, TV and much more. It’s creating new
                    opportunities for billions of people by connecting them to each other and enabling access to new
                    and better services. To be digitally included.
                </p>
                <br/><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="do-wrap text-center">
                    <h4>Magasinet</h4>
                    <p>Read the "Telia Magasinet" articles here.</p>
                    <a href="https://telia.no/magasinet" class="readmore purple-text">Read more</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="do-wrap text-center">
                    <h4>Telia Developer</h4>
                    <p>View our developer site. Everything you need to build and grow your business.</p>
                    <a href="https://developer.telia.no/" class="readmore green-text">Read more</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="do-wrap text-center">
                    <h4>Finn.no</h4>
                    <p>Read about Telia as an employer.</p>
                    <a href="https://www.finn.no/job/employer/company/178" class="readmore blue-text">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>




<!-- Paralax Effect Section -->
<div style="position:relative;">
  <section id="bg-paralax">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Unleash your potential with Telia</p>
          <h2 class="magin30">Looking for a new job?</h2>

          <a class="btn-pink btn-common bounce-top page-scroll" href="#letstalk">Let's Talk</a>
        </div>
      </div>
    </div>
  </section>

</div>






<!-- What We Do Section -->
<section class="we-do padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn">
                <p class="title">The next level</p>
                <h2 class="heading">New generation telco</h2>
                <p>
                    At Telia, we bring the world closer – on the customer’s terms. The digital society is a global movement.
                    As the world changes, so must we. We need to stay relevant to our customers. Now we're on a mission
                    to take Telia to the next level and create a New Generation Telco.
                </p>
                <p>Telia Next is the innovation unit at Telia Norge with the mission to accelerate Telia’s digitalization
                  journey. At Telia Next, we explore opportunities close to the core and build up capabilities in new
                  areas such as Digital Identity, Internet of Things and Data Analytics. By combining different platform
                  services, we deliver innovative solutions to both private and enterprise customers, on their terms.
                  <br/>
                  <a href="https://developer.telia.no/" class="readmore purple-text">Read more</a>
                </p>
                <br/>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="do-wrap text-center">
                    <div class="green top"></div>
                    <span class="green"><i class="icon-icons9"></i></span>
                    <h4>Identity</h4>
                    <p>Seamless authentication accross all services & devices.</p>
                  <a href="#." class="readmore blue-text"></a> </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="do-wrap text-center">
                    <div class="pink top"></div>
                    <span class="pink"><i class="icon-icons96"></i></span>
                    <h4>Data Labs</h4>
                    <p>Enriched user data to build better products.</p>
                  <a href="#." class="readmore blue-text"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="do-wrap text-center">
                    <div class="red top"></div>
                    <span class="red"> <i class="icon-icons42"></i></span>
                    <h4>IoT</h4>
                    <p>Manage devices and analyze valuable data in real-time.</p>
                  <a href="#." class="readmore blue-text"></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms">
                <div class="do-wrap text-center">
                    <div class="blue top"></div>
                    <span class="blue"><i class="icon-icons9"></i></span>
                    <h4>New services</h4>
                    <p>Watch out! <br/>The future is coming.</p>
                  <a href="#." class="readmore blue-text"></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="slogan" class="wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="hidden">hiddens</h5>
        <p class="pull-left">
            Bring Your Own Team! At Telia we believe that people make people better, so why not apply together?
        </p>
        <a class="pull-right bounce-pink" href="#.">Let's Talk</a> </div>
    </div>
  </div>
</section>

<!-- Latest Publications -->
<section id="teliatown" class="section-padding padding">
  <div class="container project-wrapper">
    <div class="zerogrid">
      <div class="wrap-container clearfix">
          <div class="row">
              <div class="col-md-12 text-center wow fadeIn">
                  <div class="col-md-12 text-center">
                      <h2 class="heading">Telia Town</h2>
                  </div>
                  <p class="text-center">
                      We created our own version of a smart city to explore the possibilities of IoT.
                      Telia Town is built to bridge the gap between the real world and our platform, to show how interconnecting things can add value for users.
                      It is our playground for coming up with new ideas and showcase upcoming pilot projects.
                  </p>
                  <br/>
              </div>
          </div>
        <div class="row wrap-content">
          <div class="col-1-2">
              <div class="col-full mix work-item graphic">
          <div class="wrap-col">
              <div class="item-container">
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/car.jpg">
						<div class="overlay-inner">
						<h4 class="pink-text">Cars</h4>
                  </div>
					</a>
                <img src="images/teliatown/car_small.jpg" alt="work"/>
              </div>
            </div>
          </div>
          <div class="col-2-4 mix work-item brand">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox-media overlay text-center" href="images/teliatown/train.jpg">
						<div class="overlay-inner">
						<h4 class="green-text">Train</h4>
                  </div>
					</a>
                    <img src="images/teliatown/train_small.jpg" alt="work"/>
                  </div>
                </div>
              </div>
              <div class="col-2-4 mix work-item">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/station.jpg">
						<div class="overlay-inner">
						<h4 class="purple-text">Station</h4>
                  </div>
					</a>
                    <img src="images/teliatown/station_small.jpg" alt="work"/>  </div>
                </div>
              </div>
          </div>
              <div class="col-1-4 mix work-item graphic">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/hello.jpg">
						<div class="overlay-inner">
						<h4 class="blue-text">People</h4>
                  </div>
					</a>
                    <img src="images/teliatown/hello_small.jpg" alt="work"/>
                  </div>
                </div>
              </div>
              <div class="col-1-4 mix work-item design">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/town.jpg">
						<div class="overlay-inner">
						<h4 class="purple-text">Teliatown</h4>
                  </div>
					</a>
                    <img src="images/teliatown/town_small.jpg" alt="work"/>  </div>
                </div>
              </div>
              <div class="col-1-2 mix work-item graphic">
          <div class="wrap-col">
              <div class="item-container">
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/darkroom.jpg">
						<div class="overlay-inner">
						<h4 class="base">Lights</h4>
                  </div>
					</a>
                <img src="images/teliatown/darkroom_small.jpg" alt="work"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb">
          <li><a href="#." class="page-scroll">Home</a></li>
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#thinkers" class="page-scroll">Team</a></li>
          <li><a href="#publication" class="page-scroll">Blog</a></li>
        </ul>
        <p>Copyright &copy; 2016 Telia. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<a href="#." class="go-top text-center"><i class="fa fa-angle-double-up"></i></a>

<script src="js/jquery-2.1.4.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery-countTo.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.circliful.js"></script>
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.fancybox-thumbs.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jPushMenu.js"></script>
<script src="js/functions.js"></script>


</body>
</html>
