<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Telia | The New Generation Telco</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/icomoon-fonts.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css">
  <link rel="stylesheet" type="text/css" href="css/settings.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="css/owl.transitions.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="css/zerogrid.css">
  <link rel="stylesheet" type="text/css" href="css/jPushMenu.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/onepage.css">

  <link rel="stylesheet" type="text/css" href="css/loader-colorful.css">

  <link rel="shortcut icon" href="images/favicon.ico">


</head>

<body id="page-top" data-spy="scroll" data-target="#fixed-collapse-navbar" data-offset="120">

<div class="loader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>




<!-- Main-Navigation -->
<header id="main-navigation">
  <div id="navigation" data-spy="affix" data-offset-top="20">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="top-right text-right">
            <li><a href="https://www.facebook.com/telianorge/" class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/telianorge" class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/telianorge/" class="instagram"><i class="icon-instagram"></i></a></li>
          </ul>

          <nav class="navbar navbar-default">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="true">
                <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span>
              </button>
              <a class="navbar-brand logo" href="#."><img src="images/TELIA_P_RGB.png" alt="logo" class="img-responsive"></a>
            </div>



            <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li class="hidden">
                  <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="active">
                  <a href=".text-rotator" class="page-scroll">Home</a>
                </li>
                <li>
                  <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                  <a class="page-scroll" href="#thinkers">Team</a>
                </li>
                <li>
                  <a href="#publication" class="page-scroll">Blog</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>



<section class="text-rotator">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="paralax-slider" class="owl-carousel">
          <div class="item">
            <div class="item-content text-center">
              <p>We craft unique & new digital experience layouts!</p>
              <h2>The next generation telco</h2>
            </div>
          </div>
          <div class="item">
            <div class="item-content text-center">
              <p>We craft unique digital experience layouts!</p>
              <h2><span>Style Your </span><br>Business Strategy</h2>
            </div>
          </div>
          <div class="item">
            <div class="item-content text-center">
              <p>We craft new digital experience layouts!</p>
              <h2><span>Professional Code is</span><br> Core Power</h2>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>


<!--Competition-->
<section class="section-padding padding" id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
              <div class="col-md-12 text-center">
                <p>Join our competition and win cool prices!</p>
                <h2 class="magin30">How many LEGO pieces is it in Telia Town?</h2>
              </div>
            </div>
        </div>
    </div>
</section>


<section id="slogan" class="wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a class=" bounce-pink" style="display: table; margin: 0 auto;" href="https://telianorge.typeform.com/to/AAOLCh">Submit answer</a> </div>
    </div>
  </div>
</section>

<!--About us-->
<section class="section-padding padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
        <p class="title">Our Valued Services</p>
        <h2 class="heading">About Telia</h2>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
        <span class="text-center"><i class="icon-icons9 color2"></i></span>
        <h4 class="color2">Unlimited Features</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms">
        <span class="text-center"><i class="icon-umbrella color1"></i></span>
        <h4 class="color1">creative design</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="700ms">
        <span class="text-center"><i class="icon-icons20 color3"></i></span>
        <h4 class="color3">Responsive Design</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms">
        <span class="text-center"><i class="icon-icons96  color5"></i></span>
        <h4 class="color5">Responsive Design</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1100ms">
        <span class="text-center"><i class="icon-globe color4"></i></span>
        <h4 class="color4">Responsive Design</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
        <span class="text-center"><i class="icon-icons42 color6"></i></span>
        <h4 class="color6">Responsive Design</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
    </div>
  </div>
</section>




<!-- Paralax Effect Section -->
<div style="position:relative;">
  <section id="bg-paralax">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Unleash your potential with Telia</p>
          <h2 class="magin30">Looking for a new job?</h2>

          <a class="btn-purple btn-common bounce-top page-scroll" href="#letstalk">Let's Talk</a>
        </div>
      </div>
    </div>
  </section>

</div>






<!-- What We Do Section -->
<section class="we-do bg-grey padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeIn">
                <p class="title">Our Service Keeps you Happy</p>
                <h2 class="heading">New generation telco</h2>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <div class="do-wrap text-center">
                    <div class="green top"></div>
                    <span class="green"><i class="icon-icons9"></i></span>
                    <h4>Identity</h4>
                    <p>Seamless authentication accross all services & devices</p>
                    <a href="#." class="readmore green-text">READ MORE</a> </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="do-wrap text-center">
                    <div class="pink top"></div>
                    <span class="pink"><i class="icon-icons96"></i></span>
                    <h4>Data Labs</h4>
                    <p>Enriched user data to build better products</p>
                    <a href="#." class="readmore pink-text">READ MORE</a> </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="do-wrap text-center">
                    <div class="red top"></div>
                    <span class="red"> <i class="icon-icons42"></i></span>
                    <h4>IoT</h4>
                    <p>Manage devices and analyze valuable data in real-time.</p>
                    <a href="#." class=" readmore red-text">READ MORE</a> </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms">
                <div class="do-wrap text-center">
                    <div class="blue top"></div>
                    <span class="blue"><i class="icon-icons9"></i></span>
                    <h4>New services</h4>
                    <p>Watch out! <br/>The future is coming.</p>
                    <a href="#." class="readmore blue-text">READ MORE</a> </div>
            </div>
        </div>
    </div>
</section>


<section id="slogan" class="wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="hidden">hiddens</h5>
        <p class="pull-left">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
        <a class="pull-right bounce-pink" href="#.">get in touch</a> </div>
    </div>
  </div>
</section>

<!-- Latest Publications -->
<section id="publication" class="section-padding padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="heading">Telia Town</h2>
      </div>
      <p class="text-center padding">
          We created our own version of a smart city to explore the possibilities of IoT. <br>
          Telia Town is built to bridge the gap between the real world and our platform, to show how interconnecting things can add value for users. <br>
          It is our playground for coming up with new ideas and showcase upcoming pilot projects.
      </p>
    </div>
  </div>
  <div class="container-fluid project-wrapper">
    <div class="zerogrid">
      <div class="wrap-container clearfix">
        <div class="row wrap-content">
          <div class="col-1-2">
              <div class="col-full mix work-item graphic">
          <div class="wrap-col">
              <div class="item-container">
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/car.jpg">
						<div class="overlay-inner">
						<h4 class="pink-text">Cars</h4>
                  </div>
					</a>
                <img src="images/teliatown/car_small.jpg" alt="work"/>
              </div>
            </div>
          </div>
          <div class="col-2-4 mix work-item brand">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox-media overlay text-center" href="images/teliatown/train.jpg">
						<div class="overlay-inner">
						<h4 class="green-text">Train</h4>
                  </div>
					</a>
                    <img src="images/teliatown/train_small.jpg" alt="work"/>
                  </div>
                </div>
              </div>
              <div class="col-2-4 mix work-item">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/station.jpg">
						<div class="overlay-inner">
						<h4 class="purple-text">Station</h4>
                  </div>
					</a>
                    <img src="images/teliatown/station_small.jpg" alt="work"/>  </div>
                </div>
              </div>
          </div>
              <div class="col-1-4 mix work-item graphic">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/hello.jpg">
						<div class="overlay-inner">
						<h4 class="blue-text">People</h4>
                  </div>
					</a>
                    <img src="images/teliatown/hello_small.jpg" alt="work"/>
                  </div>
                </div>
              </div>
              <div class="col-1-4 mix work-item design">
                <div class="wrap-col">
                  <div class="item-container">
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/town.jpg">
						<div class="overlay-inner">
						<h4 class="purple-text">Teliatown</h4>
                  </div>
					</a>
                    <img src="images/teliatown/town_small.jpg" alt="work"/>  </div>
                </div>
              </div>
              <div class="col-1-2 mix work-item graphic">
          <div class="wrap-col">
              <div class="item-container">
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/teliatown/darkroom.jpg">
						<div class="overlay-inner">
						<h4 class="base">Lights</h4>
                  </div>
					</a>
                <img src="images/teliatown/darkroom_small.jpg" alt="work"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb">
          <li><a href="#." class="page-scroll">Home</a></li>
          <li><a href="#about" class="page-scroll">About</a></li>
          <li><a href="#thinkers" class="page-scroll">Team</a></li>
          <li><a href="#publication" class="page-scroll">Blog</a></li>
        </ul>
        <p>Copyright &copy; 2016 Telia. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

<a href="#." class="go-top text-center"><i class="fa fa-angle-double-up"></i></a>

<script src="js/jquery-2.1.4.js"></script>
<script src="js/bootstrap.min.js"></script>

<script src="js/jquery.themepunch.tools.min.js"></script>
<script src="js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery-countTo.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.circliful.js"></script>
<script src="js/jquery.mixitup.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.parallax-1.1.3.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/jquery.fancybox-thumbs.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/jPushMenu.js"></script>
<script src="js/functions.js"></script>


</body>
</html>
